<div id="modalADDUPDATE" class="modalthem modal">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>ADD/UPDATE</h3>
    <div class="modal-body">
        <form action="/action_page.php">
            <div class="form-group">
                <label for="txtmanpn">Mã hóa đơn :</label>
                <input type="text" class="form-control" id="txtmanpn">
                <input type="hidden" class="form-control" id="hidID" value="0">
            </div>
            <div class="form-group">
                <label for="txtngaydat">Ngày đặt:</label>
                <input type="text" class="form-control" id="txtngaydat">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="txttinhtrang">Tình trạng</label>
            </div>
            <div class="form-group">
                <label for="txtngaygiao">Ngày giao:</label>
                <input type="text" class="form-control" id="txtngaygiao">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" id="txtthanhtoan">Thanh toán</label>
            </div>
            <div class="form-group">
                <label for="txtmakhachhang">Mã Khách Hàng:</label>
                <input type="text" class="form-control" id="txtmakhachhang">
            </div>
            <div class="form-group">
                <label for="txtmanv">Mã Nhân viên:</label>
                <input type="text" class="form-control" id="txtmanv">
            </div>
            <div class="form-group">
                <label for="txtuudai">Ưu đãi :</label>
                <input type="text" class="form-control" id="txtuudai">
            </div>
            <div class="form-group">
                <label for="txtmasp">Mã sản phẩm :</label>
                @Html.DropDownList("MaSP", null, new { @class = "form-control col-md-7", @id = "txtmasp" })
            </div>
            <div class="form-group">
                <label for="txtdg">Đơn giá :</label>
                <input type="text" class="form-control" id="txtdg">
            </div>
            <div class="form-group">
                <label for="txtsl">số lượng :</label>
                <input type="text" class="form-control" id="txtsl">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="btnUpdate">Update</button>
        <button type="submit" class="btn btn-primary" id="btnSave">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
</div>
