
@{
    ViewBag.Title = "DanhSachBinhLuan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/Scripts/plugins/jquery.twbsPagination.min.js"></script>
<script src="~/Scripts/AjaxJson/QuanLyBinhLuanajax.js"></script>
<section id="main-content">
    <section class="wrapper">
        <div class="dulieu">
            <div class="dl_motkhoi">
                <div class="dl_trai">
                    <h3 class="solieu" id="slsp"></h3>
                    <span>bình luận</span>
                </div>
                <div class="dl_phai">
                    <i class="fa fa-eye"> </i>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="card_layer">
            <h5>Danh sách nình luận</h5>
            <div class="row">
                <div class="col-md-12">
                    <button id="btnAddNew" class="btn btn-success pull-right">Thêm</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Mã bình luận</td>
                                <td>Nội dung bình luận</td>
                                <td>Mã thành viên</td>
                                <td>Mã sản phẩm</td>
                                <td>Đánh giá</td>
                                <td>Chức năng</td>
                            </tr>
                        </thead>
                        <tbody id="tblData"></tbody>
                    </table>
                    <div id="pagination" class="pagination">
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
@Html.Partial("~/Areas/Admin/Views/QuanLyBinhLuan/BinhLuanModalPartialView.cshtml");
