
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section id="main-content">
    <section class="wrapper">
        <h2>Index</h2>
    </section>
</section>

