<div class="top-offer-banner wow">
    <div class="container">
        <div class="row">
            <div class="offer-inner col-lg-12">
                <!--newsletter-wrap-->
                <div class="left">
                    <div class="col-1">
                        <div class="block-subscribe">
                            <div class="newsletter">
                                <form>
                                    <h4><span>ĐĂNG KÝ NHẬN TIN</span></h4>
                                    <h5> Nhận tin tức và cập nhật mới nhất từ Inspire</h5>
                                    <input type="text" placeholder="Enter your email address" class="input-text required-entry validate-email" title="Sign up for our newsletter" id="newsletter1" name="email">
                                    <button class="subscribe" title="Subscribe" type="submit"><span>Đăng ký</span></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col mid">
                        <div class="inner-text">
                            <h3>Tai nghe</h3>
                        </div>
                        <a href="#"><img src="~/Content/images/offer-banner2.jpg" alt="offer banner2"></a>
                    </div>
                    <div class="col last">
                        <div class="inner-text">
                            <h3>Camera</h3>
                        </div>
                        <a href="#"><img src="~/Content/images/offer-banner3.jpg" alt="offer banner2"></a>
                    </div>
                </div>
                <div class="right">
                    <div class="col">
                        <div class="inner-text">
                            <h4>Lựa chọn hàng đầu cho</h4>
                            <h3>Điện thoại</h3>
                            <a href="#" class="shop-now1">Mua ngay</a>
                        </div>
                        <a href="#" title=""><img src="~/Content/images/offer-banner4.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
