
@{
    ViewBag.Title = "Sơ đồ trang web";
    Layout = "~/Views/Shared/Layout2.cshtml";
}
<section class="main-container col1-layout">
    <div class="main container">
        <div class="col-main">
            <div class="cart wow">
                <div class="page-title">
                    <h2>Sơ đồ trang web</h2>
                </div>
                <div class="row content-row">
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-4">
                        <ul class="simple-list arrow-list bold-list">
                            <li>
                                <a href="grid.html">Danh mục</a>
                            </li>
                            <li><a href="grid.html">Faqs</a></li>
                            <li><a href="grid.html">Blog</a></li>
                            <li><a href="shopping_cart.html">Giỏ hàng</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-4">
                        <ul class="simple-list arrow-list bold-list">
                            <li>
                                <a href="#">Dịch vụ khách hàng</a>
                                <ul>
                                    <li><a href="#">Hỗ trợ trực tuyến</a></li>
                                    <li><a href="#">Câu hỏi liên quan</a></li>
                                    <li><a href="#">Liên hệ</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Information</a>
                                <ul>
                                    <li><a href="about_us.html">Giới thiệu</a></li>
                                    <li><a href="#">Chính sách bảo mật</a></li>
                                    <li><a href="#">Điều khoản và điều kiện</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> <img class="img-responsive animate scale" src="~/Content/images/large-icon-sitemap.png" alt=""> </div>
                </div>
            </div>
        </div>
    </div>
</section>

